<div class="row">
  <div class="section">
    <% @posts.each do |post| %>
      <div class="col s4">
        <h4><%= link_to post.name, post_path(post.id) %></h4>
        <div id="post-detail-<%= post.id %>" class="hidden">
          <% if current_user %>
            <% if current_user.admin %>
              <p><%= link_to "Delete", post_path(post), :data => {:confirm => "You sure?", :method => "delete"}  %></p>

              <p><%= link_to "Update", "/update", remote: true %></p>
              <div id="post-update-<%= post.id %>"></div>
            <% end %>
          <% end %>
          <%= image_tag post.image_url %>
          <p><%= post.description %></p>
          <p><%= number_to_currency post.price %></p>
          <%= form_for @order_item, remote: true  do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <span><%= f.number_field :quantity, placeholder: "select number of items" %></span>
            <span class="waves-effect waves-light btn"><%= f.submit "Add to cart"%></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
